.compare-page {
    border: 1px solid black;
    color:black;
    width:fit-content;
}

.compare-container {
    height:auto;

    padding-bottom:1rem;
}

.compare-container-alt {
    padding-top:2rem;
    display:block;
    height:250px;
}

.compare-page-title {
    padding:2rem 0rem;
    text-align:center;
    vertical-align: middle;
    font-size:1.5vw;
    white-space: nowrap;
    overflow:hidden;
}

.compare-page-header {
    color:white;
    background-color: black;
    padding:0.25rem 0.5rem;
    font-size: 14px;
    font-family:"IBM Plex Mono";
    font-weight: 300;
    letter-spacing: 2px;
    text-transform: uppercase;
}

.compare-page-item {
    display:block;
    padding:1rem 4rem;
    text-align:center;
    font-size:1.5vw;
}

.org-chart, .country-diagram {
    height:500px;
    width:30vw;
    display:block;
    margin: auto;
}

.project-image {
    padding:0;
    margin:0;
    width:100%;
    max-height:400px;
    background-size:contain;
    background-repeat:no-repeat;
    object-fit:cover;
}

.org-chart {
    padding:1rem 0rem;
}

.org-container, .image-container {
    height:600px;
    max-width:33vw;
}

.svg {
    color:Red;
}
