.section-A,
.section-B,
.section-C, 
.section-D {
	padding: 14rem 24rem;
	display:grid;
	grid-template-columns: 1fr 1fr;
	column-gap: 1rem;
}

.section-B {
	background-color:#F2F2F2;
}

.section-B1 {
	grid-column: 1/2;
}

#exclamation {
	display:block;
	margin:auto;
}

.section-C {
	
}

.section-D {
	background-color:#F2F2F2;
}

.section-E {
	padding: 12rem;
}

.section-E-wrapper {
	display:grid;
	grid-template-columns: 1fr 1fr 1fr;
	column-gap: 1rem;
}

.section-E1, .section-E2, .section-E3 {
	width:80%;
}





