.Loading {
	color:blue;
	text-align:center;
}

.Manual {
	margin: 1rem 4rem;
}

.manual-page {
	padding: 5%;
	border-top:1px solid transparent;
	display:grid;
	grid-template-columns: 1fr 1fr;
	grid-gap:1rem;
	border: 1px solid black;;
	border-top:0;
	border-bottom-left-radius: 1rem;
	border-bottom-right-radius: 1rem;
}

.definition {
	width:80%;
}

a {
	color:blue;
}