.ActionBar {
	padding:1.5rem;
	display:block;
	font-family:"IBM Plex Mono";
	border: 1px solid black;
	margin:1rem 0rem;
	

}

.Btn-Group {
	display:inline-block;
	padding:0.25rem;
}
.Btn-Group-Search {
	padding:0.25rem;
	float:right;
}


svg {
	vertical-align: middle;
	padding-right: 0.25rem;;
}

button {
	color:black;
	background:white;
	padding:0.4rem 0.6rem;
	border:1px solid black;
	display:inline-block;
	font-family:inherit;
	margin-right:0.25rem;
}

button:hover {
	color:white;
	background:black;
	border-radius:0pt;
}

button:focus {
	color:white;
	background:black;
	border:none;
	outline:none;
	border:1px solid black;
}


input[type=text], select{
	padding:0.4rem;
	font-family:"IBM Plex Mono";
	
}

input {
	width:18rem;
	min-width:20%;
	border: 1px solid black;
	caret-color: black;
	border:1px solid black;
	padding:0.25rem;
}

input:focus {
	outline:1px solid black;
}

select {
	border: 1px solid black;
	padding:0.4rem;
	margin-right:0.25rem;
}


label {
	padding: 0.5rem;
	font-weight:500;
}

#Tags {
	border-radius: 1000px;
}

#Tags:focus {
	border-radius: 1000px;
}
