
.red {
	background-color:red;
	border-radius:9999px;
	padding:2px .5rem 2px .5rem;
	display:inline-block;
}

.blue {
	background-color:#ffd66e;
	border-radius:9999px;
	padding:2px .5rem 2px .5rem;
	display:inline-block;
}

.green {
	background-color:#ffd66e;
	border-radius:9999px;
	padding:2px .5rem 2px .5rem;
	display:inline-block;
}


.card {
	perspective: 1000px;
	transition: transform .8s;
	background: transparent;
	width:250px;
	height:500px;
	position:relative;
}


.flip-card {
	border: 1px solid black;
	border-radius: 15px;
	position:relative;
	width:100%;
	height:100%;
	transition: transform .0s;
	transform-style: preserve-3d;
}

.flip-card.flipped{
	-webkit-transform: 	rotateY(-180deg);
	   -moz-transform: 	rotateY(-180deg);
	    -ms-transform: 	rotateY(-180deg);
	     -o-transform: 	rotateY(-180deg);
	        transform: 	rotateY(-180deg);
}

.card-front, .card-back {
	position: absolute;
	width:100%;
	height:100%;
	backface-visibility: hidden;
	border-radius:inherit;
}

.card-front {
	display:grid;
	grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
	background-color:white;
}

.card-back {
	background-color:white ;
	transform: rotateY(180deg);
	display:grid;
	grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
	background-color:;
}

.structure {
	background-color:#ffd66e;
	border-radius:9999px;
	padding:2px .5rem 2px .5rem;
	display:inline-block;
}

.card-front-top, .card-back-top {
	grid-row: 1 / 3;
	max-width:100%;
	max-height:100%;
	border-top-left-radius: inherit;
	border-top-right-radius: inherit;
	overflow:hidden;
	align-items:center;
}


.description {
	font-family: system-ui,Roboto,Ubuntu,Cantarell,'Helvetica Neue',sans-serif;
	font-size:9px;
	padding-top:1rem;
	padding-bottom: 1rem;
}

.cover-image {
	max-width:250px;
	max-height:500px;
	background-size:contain;
  	background-repeat:no-repeat;
  	object-fit:cover;
	border-top-right-radius: inherit;
	border-top-left-radius: inherit;
}


.card-front-details, .card-back-details {
	display:grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: repeat(8,1fr);
	grid-row: 3/8;
	font-size:0.8rem;
	font-family: system-ui,Roboto,Ubuntu,Cantarell,'Helvetica Neue',sans-serif;
	padding:0.75rem;
	padding-bottom: 0rem;
}

.card-front-details-title {
	background-color:;
	grid-column: 1/3;
	grid-row:1/3;
	font-size:1rem;
	font-weight: 500;
	cursor:pointer;

}

.card-front-details-title:hover {
	text-decoration: underline;
}

.card-heading {
	text-transform: uppercase;
	letter-spacing: 0.5px;
	font-size: 9px;
	font-weight: 500;
	padding: 0.5rem 0rem;
	color:grey;
}

/*----CARD FRONT----*/

.card-front-details-a {
	grid-column: 1/2;
	grid-row:2/4;
	background-color:;
	white-space:nowrap;
	overflow:hidden;
	text-overflow: ellipsis;
}


.card-front-details-b {
	grid-column: 2/3;
	grid-row:2/4;
	background-color: ;
	white-space:nowrap;
	overflow:hidden;
	text-overflow: ellipsis;

	
}

.card-front-details-c {
	grid-column: 1/2;
	grid-row:4/6;
	background-color:;
}

.card-front-details-d {
	grid-column: 2/3;
	grid-row:4/6;
	background-color: ;
}

.card-front-details-e {
	grid-column: 1/2;
	grid-row:6/8;
	background-color: ;
}

.card-front-details-f {
	grid-column: 2/3;
	grid-row:6/8;
	background-color: ;
}

/*----CARD BACK----*/

.card-back-top {
	background-color:;
	padding:0.75rem;
	font-family: system-ui,Roboto,Ubuntu,Cantarell,'Helvetica Neue',sans-serif;
	font-size:0.8rem;
}

.card-back-top-title {
	background-color:;
	font-size:1rem;
	font-weight: 500;
}
.card-back-details-title {
	font-size:0.75rem;

}

.card-back-details-a {
	grid-column: 1/3;
	grid-row:2/4;
	background-color:;
	white-space:nowrap;
	overflow:hidden;
	text-overflow: ellipsis;
}

.card-back-details-b {
	grid-column: 1/3;
	grid-row:4/6;
	background-color:;
	white-space:nowrap;
	overflow:hidden;
	text-overflow: ellipsis;
	display:inline-block;
	width:200px;
}

.card-back-details-c {
	grid-column: 1/3;
	grid-row:6/8;
	background-color:;
	white-space:nowrap;
	overflow:hidden;
	text-overflow: ellipsis;
}

.slider {
	max-height:10px;
	max-width: 100%;
}

.slider-heading-left {
	float:left;
	text-transform: uppercase;
	letter-spacing: 0.5px;
	font-size: 9px;
	font-weight: 500;
	padding: 0.5rem 0rem;
	color:grey;
}

.slider-heading-right {
	float:right;
	text-transform: uppercase;
	letter-spacing: 0.5px;
	font-size: 9px;
	font-weight: 500;
	padding: 0.5rem 0rem;
	color:grey;
}

.card-bottom {
	background-color:;
	grid-row:8/9;
	grid-column:1/3;	
}

.flip-icon {
	float:right;
	bottom:10px;
	right:10px;
	background-color: ;
}

.add-icon {

	float:left;
	bottom:10px;
	left:10px;
}

svg:hover path {
	fill:blue;
	background-color:;
}

.card p {
	text-align: center;
	vertical-align: middle;
}

.box2 {
	border:1px solid;
	background-color: blue;
}

.box3 {
	border:1px solid;
	background-color: green;
}