  .cardContainer {
  display: block;
  margin: 1rem 4rem;

}

.Loading {
	color:blue;
	text-align:center;
}

::-webkit-scrollbar { 
  display: none; 
  }

  .compare-card {
    display:grid;
    grid-template-columns: 1fr 1fr;
  }

  button:hover {
    background-color: black;
    color:white;
  }