  .cardContainer {
  display: block;
  margin: 1rem 4rem;

}

.Loading {
	color:blue;
	text-align:center;
}

::-webkit-scrollbar { 
  display: none; 
  }

  .compare-card {
    display:grid;
    grid-auto-flow:column;
    overflow:scroll;
  }

  .back-button:hover {
    colour:white;
    background-color: black;
  }


  .back-button-link:hover {
    color:white
  }